body {
	padding: 0px;
	margin: 0px;
	color: #FAFAFA;
	background-color: white;
}

#header {
	width: 100%;
	height: 230px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
	margin: 0px;
	z-index: 5;
	padding: 0px;
}

#mainlogo {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	display: block;
}

#mainnav {
	width: 100%;
	height: 40px;
	display: block;
	z-index: 10;
	padding-top: 0px;
	padding-left: auto;
	padding-right: auto;
	margin-left: auto;
	margin-right: auto;
	line-height: 35px;
}

.navbutton {
	background-color: #101010;
	height: 40px;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	display: block;
	font-size: 14px;
	text-align: center;
	vertical-align: baseline;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: white;
}

a:active {
	color: white;
}

a.navbutton:link {
	color: white;
	text-decoration: none;
}

a.navbutton:visited {
	color: white;
	text-decoration: none;
}

a.navbutton:hover {
	color: white;
	text-decoration: none;
}

a.navbutton:active {
	color: white;
	text-decoration: none;
}

.butshade {
	background: transparent;
	background-image: url("../images/butbg.png");
	background-repeat: repeat-x;
	background-attachment: right top;
	width: 99%;
	margin-left: auto;
	margin-right: auto;
}

.act {
	background-color: #B00003;
}

h1, h2 {
	margin-top: 0px;
}

#homebut {
	position: relative;
	top: -1px;
	left: -30%;
	border-top-left-radius: 15px;
}

#techbut {
	position: relative;
	top: -41px;
	left: -10%;
	z-index: 10;
}

#rentbut {
	position: relative;
	top: -81px;
	left: 10%;
}

#actbut {
	position: relative;
	top: -121px;
	left: 30%;
	border-top-right-radius: 15px;
}

#main {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	background-color: #404040;
	padding: 24px;
	margin-bottom: 24px;
}

#footer {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	background-color: #404040;
	padding: 24px;
}

td {
	vertical-align: top;
	width: 33%;
	padding: 10px;
}

.container {
	border-top-width: 4px;
	border-top-color: #B00003;
}

div.container div {
	vertical-align: top;
	display: inline-block;
}

a.button {
	background-color: #B00003;
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	text-decoration: none;
	left: 40px;
}

#popuper {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(20,20,20,0.5);
	display: block;
	z-index: 100;
}

#popupimg {
	position: fixed;
	left: 0%;
	top: 0%;
	display: block;
	max-width: 100%;
	max-height: 100%;
}

th {
	background-color: #B00003;
}

table, th, td {
	border: 1px solid #222222;
	border-collapse: collapse;
}

td.nobord {
	border: 0px solid white;
}

.table-car {
	width: 10%;
}

.table-opts {
	width: 10%;
}

.table-xlp {
	width: 6%;
}

.table-lp {
	width: 6%;
}

.table-p {
	width: 6%;
}

.table-sp {
	width: 6%;
}

.table-pledge {
	width: 6%;
}

table.cars p {
	margin-top: 4px;
	margin-bottom: 4px;
	text-align: center;
}

th {
	padding-top: 8px;
	padding-bottom: 8px;
}